<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Contact</h3>
    {% for contact in site.data.settings.contacts %}
    <div class="row g-5 mb-5">
      <div class="col-md-6">
        <h4>{{ contact.name }}</h4>
        <p>&nbsp;&#150;&nbsp; Phone: {{ contact.phone }}</p>
        <p>&nbsp;&#150;&nbsp; Email: {{ contact.email }}</p>
        <p>&nbsp;&#150;&nbsp; Title: {{ contact.title }}</p>
        <p>&nbsp;&#150;&nbsp; Major: {{ contact.major }}</p>
        <p>&nbsp;&#150;&nbsp; Department: {{ contact.department }}</p>
        <p>&nbsp;&#150;&nbsp; Instutution: {{ contact.institution }}</p>
        <p>&nbsp;&#150;&nbsp; Address: {{ contact.institution_address }}</p>
        <p>&nbsp;&#150;&nbsp; Office: {{ contact.office }}</p>
      </div>
      <div class="col-md-6">
        <img src="{{ site.github.url }}/{{ contact.image }}" alt="Contact" width="100%">
      </div>
    </div>
    {% endfor %}
  </div>
</div>
