<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Projects</h3>
    <h4>Current projects</h4>
    {% for item in site.data.projects.current %}
      <p>{{ item.name }}</a></p>
      <p> &nbsp; {{ item.institution }}</a></p>
      <p> &nbsp; {{ item.date }}</a></p>
    {% endfor %}
    <h4>Past projects</h4>
    {% for item in site.data.projects.past %}
      <p>{{ item.name }}</a></p>
      <p> &nbsp; {{ item.institution }}</a></p>
      <p> &nbsp; {{ item.date }}</a></p>
    {% endfor %}
  </div>
</div>
