<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-3">Publications</h3>
    {% if page.title == "Home" %}
      {% for item in site.data.publications.featured %}
        <p><a href="{{ item.url }}">{{ item.name }}</a></p>
      {% endfor %}
    {% else %}
      <!-- <h4>First author</h4>
      {% for item in site.data.publications.first %}
        <p><a href="{{ item.url }}">{{ item.name }}</a></p>
      {% endfor %}
      &nbsp;&nbsp;&nbsp; -->

      <h4>Co-author</h4>
      {% for item in site.data.publications.coop %}
        <p><a href="{{ item.url }}">{{ item.name }}</a></p>
      {% endfor %}
      &nbsp;&nbsp;&nbsp;

      <h4>Revision & Submission</h4>
      {% for item in site.data.publications.coop %}
        <p><a href="{{ item.url }}">{{ item.name }}</a></p>
      {% endfor %}
      &nbsp;&nbsp;&nbsp;

      <h4>International conferences</h4>
      {% for item in site.data.publications.conferences %}
        <p><a href="{{ item.url }}">{{ item.name }}</a></p>
      {% endfor %}
      &nbsp;&nbsp;&nbsp;
      
    {% endif %}
  </div>
</div>
